header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px 100px;
  background-color: $color-3;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}
